:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.primaryInterface {
  /* display: grid;
  grid-template-columns: 60% 40%; */
  border: 1px solid rgb(255, 255, 255); 
}

.posInterface {
  border: 2px solid blue;
  display: grid;
  grid-template-columns: 60% 40%;

.productListInterface {
  display: block;
  border: 2px solid red;
}

.productViewer {
  display: block;
  border: 2px solid violet;
  max-width: 100%;
  height: 30em;
  overflow: scroll;
  overflow-x: hidden;
  justify-content: center;
}

.modifierViewer {
  display: block;
  border: 2px solid violet;
  max-width: 100%;
  height: 13.5em;
  overflow: scroll;
  overflow-x: hidden;
  justify-content: center;
}

.trayInterface {
  display: block;
  border: 2px solid green;
}

.trayViewer {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(255, 251, 0);
  height: 30em;
  overflow: scroll;
  overflow-x: hidden;
}

.keypadViewer {
  display: flex;
  border: 2px solid rgb(255, 251, 0);
  height: 13.5em;
  justify-content: center;
}