.categoryHeader {
    display: flex;
    flex-direction: column;
}

.productListContainer {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    border: 2px solid violet;
    max-width: 100%;
    justify-content: center;
    column-gap: 1em;
    row-gap: 1em;
}