.categoryHeader {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid srgb(255, 226, 7);
}

.categoryHeaderBorder {
    padding: 5px;
    padding-left: 20px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(255, 255, 93);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.productListContainer {
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    grid-template-columns: 20% 20% 20% 20%;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 10px;
    background-color: rgba(186, 186, 186, 0.244);
    max-width: 100%;
    justify-content: center;
    column-gap: 1em;
    row-gap: 1em;
}