.modifierDetails {
    display: grid;
    grid-template-columns: 15% 35% 15% 25% 10%; 
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
    /* margin-top: 1.5vh; */
    margin-bottom: 1vh;
    /* gap: 1px; */
}

.modifierDetails > * {
    height: 3vh;
    display: flex;
    align-items: center; 
    padding-left: 0.5vh;
    padding-right: 0.5vh;
    font-size: 1.8vh;
    font-style: italic;
    /* border: 1px solid rgb(233, 233, 233); */ /* Apply a common border style to all children */
}

.modifierQuantity {
    justify-content: center;
    padding-left: 8vh;
}

.modifierName {
    justify-content: flex-start;
    padding-left: 2vh;
}

.modifierPrice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding-left: 2vh;
    /* padding-bottom: 1vh; */
}

.modifierPriceTotal {
    font-size: 1.4vh;
}

.addButton, .subtractButton, .removeButton {
    justify-content: flex-end;
}

.removeButton button {
    background-color: rgb(238, 119, 100);
    padding: 1.1vh;
    /* height: 2vh;  */
    width: 3.5vh;
    color: white;
    font-size: 1.2vh;
    /* border: 1px solid rgb(0, 0, 0);  */
    border: none;
    border-radius: 10px;
}